:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #613583;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}


.check {
    position: relative;
    display: block;
    width: 180px;
    height: 90px;
    cursor: pointer;
    background-color: #eeeeee;
    box-shadow: inset 0px 6px 8px 3px #00000040;
    border-radius: 50px;
    overflow: hidden;
    transition: ease-in 0.5s;
    margin: 20px;
}


input[type="checkbox"]:checked ~ .check {
    background-color: #76ee59;
}


.check::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 35px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(232.14, 233.82, 233.72) 100%);
    box-shadow: 0px 6px 8px 3px #00000040;
    height: 70px;
    width: 70px;
    transition: 0.5s;
    transform: translateX(-90px);
}


input[type="checkbox"]:checked ~ .check::after {
    transform: translateX(0px);
}


.box {
    position: relative;
    width: 725px;
    height: 245px;
    background: #ffffff;
    border-radius: 10px;
}


.box .frame {
    position: absolute;
    width: 215px;
    height: 190px;
    background: #8489f9;
    border-radius: 10px;
    top: 27.5px;
    left: 13.75px;
    justify-content: center;
}


.frame .person {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 6.875px;
}


.box .dots {
    position: absolute;
    width: 45px;
    height: 34px;
    top: 200px;
    left: 0px;
}


.box .just {
    position: absolute;
    color: #86898c;
    top: 45px;
    left: 265px;
    font-size: 20px;
    font-weight: bold;
}


.box .close {
    position: absolute;
    width: 18px;
    height: 18px;
    float: right;
    top: 25px;
    right: 25px;
}


.box .info {
    position: absolute;
    color: #8489f9;
    font-size: 30px;
    font-weight: bold;
    left: 265px;
    top: 95px;
}


.box .dont {
    position: absolute;
    color: #86898c;
    left: 265px;
    top: 170px;
    font-size: 16px;
}


.card {
    position: relative;
    width: 427px;
    height: 630px;
    background-color: white;
    border-radius: 6.47px;
    border: 1.29px solid;
    border-color: #dedede;
}


.card .avatar {
    position: absolute;
    width: 193px;
    height: 193px;
    top: 52px;
    left: 116px;
    background-image: url("assets/ava.svg");
    background-size: cover;
    background-position: 50% 50%;
}


.card .paragraphe {
    position: absolute;
    width: 334px;
    top: 282px;
    left: 45px;
    font-weight: 500;
    color: #737373;
    font-size: 20.7px;
    text-align: center;
    letter-spacing: 0.26px;
    line-height: 33.6px;
}


.card .starts {
    position: absolute;
    height: 38px;
    top: 441px;
    left: 108px;
}


.card .text-wrapper {
    position: absolute;
    width: 123px;
    top: 507px;
    left: 151px;
    font-weight: 600;
    color: #2091f9;
    font-size: 18.1px;
    letter-spacing: 0.26px;
    line-height: 31px;
    white-space: nowrap;
}


.card .div {
    position: absolute;
    width: 87px;
    top: 542px;
    left: 163px;
    font-weight: 600;
    color: #252b42;
    font-size: 18.1px;
    letter-spacing: 0.26px;
    line-height: 31px;
    white-space: nowrap;
}


.googleplay {
    position: relative;
    width: 320px;
    height: 120px;
    padding: -60px;
    background-image: url("assets/Market_button.svg");
    background-size: cover;
    background-position: 50% 50%;
}

