:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f9faff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


@font-face {
    font-family: "Comfortaa";
    src: url("assets/Comfortaa-VariableFont_wght.ttf");
}


@font-face {
	font-family: "Playfair Display";
	src: url("assets/PlayfairDisplay-VariableFont_wght.ttf");
}


@font-face {
	font-family: "Nunito";
	src: url("assets/Nunito-VariableFont_wght.ttf");
}


.name {
	color: #25282B;
    font-family: "Comfortaa";
	margin-left: 10%;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 180%;
	display: inline-block;
}


.navi {
	right: 10%;
	display: flex;
	float: right;
	transform: translateX(-50%);
}


.navi div {
	color: #25282B;
    font-family: "Comfortaa";
	margin-right: 7%;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 180%;
	display: inline-block;
}


.navi .main {
	border-bottom: 2px solid #25282b;
	border-radius: 1px;
}


.navi div:first-child:hover {
	border-bottom: 2px solid #f9faff;
	border-radius: 1px;
}


.main-container {
	width: 100%;
	margin-top: 5%;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
}


.main-container .about-me {
	color: #25282b;
	font-family: "Playfair Display";
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 72px;
	padding-bottom: 3.4%;
}


.main-container .info {
	color: #828282;
	ont-family: "Nunito";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	padding-bottom: 3.4%;
}


.continue {
	background: #fdc435;
	width: 150px;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	border: none;
	border-radius: 5px;
}


.main-container .continue:hover {
	background: #ffe657;
}


.ava {
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	margin-left: 10%;
	margin-right: 5%;
}


.main-info {
	width: 100%;
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	gap: 4%;
	margin-bottom: 12.5%;
}


.footer {
	display: flex;
	flex-direction: column-reverse;
	font-family: "Nunito";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal; 
}


.soc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	width: 150px;
	transform: translateX(-12.5%);
	margin: 3%;
}


.me {
	color: #828282;
}

